/* BASE STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
}

h2.soups {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: indianred;
    font-size: 1rem;
}

h2.salads {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: khaki;
    font-size: 1rem;
}

h2.entrees {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightseagreen;
    font-size: 1rem;
}

.menu-item {
    position: relative;
    border: 1px solid black;
    background-color: rgb(187, 170, 170);
    height: 250px;
    margin: 10px;
    overflow: hidden;
}

.menu-item-title {
    position: absolute;
    padding: 5px 15px 5px 15px;
    top: 0px;
    right: 0px;
    border: 1px solid black;
    width: 33.33%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-item-description {
    position: relative;
    margin: 10px;
    top: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* RESPONSIVE FRAMEWORK */

.row {
    width: 100%;
}

/* COLUMN STYLES LARGE DEVICES */

@media (min-width: 992px) {
    .col-33, .col-100 {
        float: left;
    }
    .col-33 {
        width: 33.33%;
    }
    .col-100 {
        width: 100%;
    }
}

/* COLUMN STYLES MEDIUM DEVICES */

@media (min-width: 768px) and (max-width: 991px) {
    .col-50, .col-md-100 {
        float: left;
    }
    .col-50 {
        width: 50%;
    }
    .col-md-100 {
        width: 100%;
    }
}
